.banner {
  padding-top: vw(100px);
  color: #ffffff;
  min-height: vw(600px);
  display: flex;
  background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0) 33.33%,
      rgba(0, 0, 0, 0) 67.19%,
      #000000 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.8) -0.08%, rgba(0, 0, 0, 0) 100%);
  @include transition-default;

  &__container {
    @extend .container;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__cards {
    margin: vw(20px) vw(-10px) 0;
    display: flex;
    flex-wrap: wrap;

    .time-card {
      margin: vw(10px);
    }
  }

  &__row {
    display: flex;
  }

  &__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  &_header {
    position: relative;
    display: flex;
    padding-bottom: vw(60px);
  }

  &_detail {
    position: relative;

    &::before {
      content: '';
      display: block;
      background: linear-gradient(
        180deg,
        #000000 -0.08%,
        rgba(0, 0, 0, 0) 100%
      );
      position: absolute;
      height: 270px;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 1;
    }

    .banner__image {
      align-self: flex-start;
      min-width: vw(230px);
      border-radius: vw(10px);

      &::before {
        content: '';
        display: block;
        padding-bottom: calc(345 / 230 * 100%);
      }
    }

    .banner__content {
      padding-left: vw(70px);
    }

    .banner__row {
      @include transition-default;
      transform: translateY(0);
    }

    .banner__add-info {
      display: flex;
    }

    .banner__format {
      padding: vw(1px) vw(10px);
      display: inline-flex;
      line-height: 1;
      align-items: center;
      border-radius: vw(10px);
      border: 2px solid #ffffff;
      font-weight: 500;
      letter-spacing: -0.41px;
      font-size: vw(18px);
    }

    .banner__rating {
      margin-left: vw(15px);
      font-size: vw(32px);
      color: $colorMain;
      display: inline-block;
    }

    .banner__age-limit {
      margin-left: vw(15px);
      font-size: vw(32px);
      display: inline-block;
      color: rgba(#ffffff, 0.6);
    }

    .banner__heading {
      margin-top: vw(10px);
      font-size: vw(43px);
      font-weight: 500;
    }

    .banner__duration {
      font-size: vw(28px);
    }

    .banner__type {
      margin-left: vw(10px);
      font-size: vw(28px);
      display: inline-block;
      color: rgba(#ffffff, 0.6);
    }

    .banner__info {
      margin-top: vw(20px);
    }

    .banner__description {
      padding: vw(20px) 0 vw(30px);
    }

    .banner__linecount {
      margin-bottom: vw(10px);
      font-size: vw(19px);
      line-height: 1.6;
    }

    .link_more {
      display: none;
    }

    &-close {
      &::before {
        visibility: hidden;
        opacity: 0;
      }

      .banner__linecount {
        @include linecount(3, 1.6);
      }

      .banner__row {
        transform: translateY(vw(10px));
      }

      .link_more {
        display: inline-block;
      }
    }
  }
}
