.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include transition-default;

  &_menu {
    color: #ffffff;
    background: linear-gradient(
        0deg,
        rgba($colorBlack, 0),
        rgba($colorBlack, 0)
      ),
      $colorMain;

    &:hover {
      background: linear-gradient(
          0deg,
          rgba($colorBlack, 0.2),
          rgba($colorBlack, 0.2)
        ),
        #d24a43;
    }
    @include resize-vw(padding-top, 10, 5, 5);
    @include resize-vw(padding-bottom, 10, 5, 5);
    @include resize-vw(padding-left, 35);
    @include resize-vw(padding-right, 35);
    border-radius: 4px;

    @include device-media(tablet mobile) {
      padding: 0;
      background: none;
    }

    .button__text {
      text-transform: uppercase;
      display: inline-block;
      white-space: nowrap;
      font-style: normal;
      @include resize-vw(max-width, 150, 145, 140);
      @include resize-vw(font-size, 19, 17, 15);

      @include device-media(tablet mobile) {
        display: none;
      }
    }

    .button__icon {
      color: $colorBlack;
      display: none;

      @include device-media(tablet mobile) {
        display: inline-block;
      }
    }
  }
}
