.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include transition-default;

  &_menu {
    @include device-media(desktop laptop) {
      padding: vw(10px) vw(35px);
      border-radius: vw(4px);
      color: #ffffff;
      background: linear-gradient(
          0deg,
          rgba($colorBlack, 0),
          rgba($colorBlack, 0)
        ),
        $colorMain;

      &:hover {
        background: linear-gradient(
            0deg,
            rgba($colorBlack, 0.2),
            rgba($colorBlack, 0.2)
          ),
          #d24a43;
      }
    }

    .button__text {
      text-transform: uppercase;
      display: inline-block;
      white-space: nowrap;
      font-style: normal;
      max-width: vw(150px);
      font-size: vw(19px);

      @include device-media(tablet mobile) {
        display: none;
      }
    }

    .button__icon {
      color: $colorBlack;
      display: none;

      @include device-media(tablet mobile) {
        display: inline-block;
      }
    }
  }
}
