.card {
  background-color: $colorWhite;
  @include resize-vw(min-height, 405);
  @include resize-vw(padding-top, 10, 10, 20);
  @include resize-vw(padding-bottom, 10, 10, 20);
  @include resize-vw(padding-right, 20, 20, 10);
  @include resize-vw(padding-left, 20, 20, 10);
  @include resize-vw(border-radius, 12, 12, 12);

  &::after {
    content: '';
    clear: both;
    display: table;
  }

  // класс для показа подробно .card_open
  &_open {
    .card__timetable {
      transform: translateX(0);
    }
  }

  &__poster {
    float: left;
    position: relative;
    width: 100%;
    @include resize-vw(max-width, 225, 216, 184);
    @include resize-vw(margin-bottom, 10, 10);

    @include device-media(mobile) {
      margin-bottom: 0;
      margin-right: vw(14px, $bpMobileMin);
      margin-left: vw(12px, $bpMobileMin);
    }
  }

  &__poster-image {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(vw(-40px));
    padding-bottom: calc(346 / 240 * 100%);
    @include resize-vw(border-radius, 12, 12, 12);

    @include device-media(tablet) {
      transform: translateX(vw(-20px, $bpTabletMin));
      padding-bottom: calc(325 / 216 * 100%);
    }

    @include device-media(mobile) {
      transform: translateX(0);
      padding-bottom: calc(295 / 190 * 100%);
    }
  }

  &__heading {
    font-weight: 500;
    @include resize-vw(padding-top, 25, 20);
    @include resize-vw(line-height, 30, 26);
    @include resize-vw(font-size, 28, 24);

    @include device-media(mobile) {
      display: none;
    }
  }

  &__description {
    font-weight: normal;
    color: rgba($colorBlack, 0.5);
    @include resize-vw(line-height, 25, 23);
    @include resize-vw(margin-top, 10, 10);
    @include resize-vw(font-size, 20, 18);

    @include device-media(mobile) {
      display: none;
    }

    &_mobile {
      display: none;

      @include device-media(mobile) {
        padding: vw(20px, $bpMobileMin) vw(10px, $bpMobileMin) 0;
        display: block;
      }
    }
  }

  &__timetable {
    // display: flex;
    // flex-wrap: wrap;
    transform: translateX(vw(-10px));

    @include resize-vw(margin-top, 10);
    @include resize-vw(margin-bottom, -10);

    @include device-media(tablet) {
      margin: vw(10px, $bpTabletMin) vw(-10px, $bpTabletMin) vw(-10px, $bpTabletMin);
      transform: translateX(vw(-10px, $bpTabletMin));
    }

    @include device-media(mobile) {
      margin: vw(-10px, $bpMobileMin) 0;
      transform: translateX(0);
    }
  }

  &__time-card {
    display: inline-block;
    @include resize-vw(padding, 10);

    @include device-media(tablet) {
      padding: vw(10px, $bpTabletMin);
    }

    @include device-media(mobile) {
      padding: vw(10px, $bpMobileMin);
    }
  }
}
