.card {
  border-radius: 12px;
  background-color: $colorWhite;
  min-height: vw(405px);
  padding: vw(10px) vw(20px) vw(20px);

  &__poster {
    float: left;
    position: relative;
    max-width: vw(240px);
    margin-bottom: vw(10px);
    width: 100%;
  }

  &__poster-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: vw(12px);
    transform: translateX(vw(-40px));
    padding-bottom: calc(346 / 240 * 100%);
  }

  &__content {
    padding-left: vw(20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__heading {
    padding-top: vw(25px);
    font-size: vw(28px);
    font-weight: 500;

    @media (max-width: $bpMobile) {
      display: none;
    }
  }

  &__description {
    margin-top: vw(10px);
    font-weight: normal;
    color: rgba($colorBlack, 0.5);

    @media (max-width: $bpMobile) {
      display: none;
    }
  }

  &__timetable {
    margin: vw(10px) vw(-10px) vw(-10px);
    transform: translateX(vw(-10px));
  }

  &__time-card {
    display: inline-block;
    padding: vw(10px);
  }
}
