.contact {
  font-size: vw(20px);
  margin-top: vw(35px);

  &__item {
    display: flex;

    &:not(:first-of-type) {
      margin-top: vw(20px);
    }
  }

  &__title {
    flex: 0 0 span(3);
    max-width: 0 0 span(3);
  }
}
