.contact {
  @include resize-vw(font-size, 20, 17, 16);
  @include resize-vw(margin-top, 35, 30, 25);

  &__item {
    display: flex;

    &:not(:first-of-type) {
      @include resize-vw(margin-top, 20, 20, 20);
    }
  }

  &__title {
    flex: 0 0 span(3);
    max-width: 0 0 span(3);

    @include device-media(mobile) {
      flex: 0 0 span(5);
      max-width: 0 0 span(5);
    }
  }
}
