.footer {
  background-color: #1a1a1a;

  &__menu {
    @include resize-vw(padding-top, 110, 60, 40);
    @include resize-vw(padding-bottom, 80, 40, 40);
    @include resize-vw(font-size, 17, 17, 17);

    .grid__col {
      @include resize-vw(margin-bottom, 30, 25, 20);
    }
  }

  &__heading {
    color: #fff;
    @include resize-vw(font-size, 24, 17, 17);
  }

  &__copyright {
    letter-spacing: 0.4px;
    border-top: 1px solid rgba(#fff, 0.5);
    color: rgba(#fff, 0.5);
    @include resize-vw(padding, 10, 10, 10);
  }
}
