.footer {
  background-color: #1A1A1A;

  &__menu {
    padding: vw(110px) 0 vw(80px);
    font-size: vw(24px);

    .grid__col {
      margin-bottom: vw(30px);
    }
  }

  &__heading {
    color: #fff;
    font-size: vw(24px);
  }

  &__copyright {
    letter-spacing: 0.4px;
    padding: vw(10px) 0;
    border-top: 1px solid rgba(#fff, .5);;
    color: rgba(#fff, .5);
  }
}