.header {
  box-shadow: 0 0.5px 0 rgba($colorBlack, 0.2);

  &__top {
    position: relative;
    z-index: 10;
  }

  &__grid {
    @extend .grid;
    align-items: center;
    padding: vw(10px) 0;
    min-height: 100px;

    @include ie11() {
      height: 100px;
    }

    @include device-media(laptop tablet) {
      min-height: 60px;
      padding: vw(10px, $bpTabletMin) 0;
    }

    @include device-media(mobile) {
      min-height: 80px;
      padding: vw(10px, $bpMobileMin) 0;
    }
  }

  &__menu {
    @include device-media(desktop laptop tablet) {
      padding: 0 gutter() 0 0;
    }
  }

  &__address {
    @include resize-vw(margin-right, 40, 20, 10);
  }

  &__logo {
    margin-right: auto;
    padding: 0 gutter();

    @include device-media(mobile) {
      padding: 0 0 0 vw(10px, $bpMobileMin);
    }

    img {
      @include resize-vw(max-width, 260, 118, 108);
    }
  }

  &__tab {
    flex: 1 0 auto;

    @media (max-width: $bpMobileMax) {
      display: none;
    }
  }

  &_has-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;

    .header__top {
      color: #ffffff;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}
