.header {
  box-shadow: 0 0.5px 0 rgba($colorBlack, 0.2);

  &__top {
    position: relative;
    z-index: 10;
  }

  &__grid {
    @extend .grid;
    align-items: center;
    height: vw(80px);
    padding: vw(10px) 0;
  }

  &__info {
    padding: 0 gutter();
    display: flex;
  }

  &__address {
    font-weight: 500;
    margin-right: vw(40px);
    font-size: vw(24px);
    display: flex;
    align-items: center;
    cursor: pointer;
    @include transition-default;

    &:hover {
      color: $colorMain;
    }
  }

  &__logo {
    margin-right: auto;
    padding: 0 gutter();
    max-width: vw(290px);
  }

  &__tab {
    flex: 1 0 auto;
  }

  &__icon {
    color: $colorMain;
    margin-right: vw(5px);
  }

  &_has-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;

    .header__top {
      color: #ffffff;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}
