.offer-card {
  @extend .mx-border-radius;
  @include resize-vw(font-size, 24, 20, 18);
  overflow: hidden;
  box-shadow: 0px vw(5px) vw(20px) rgba($colorBlack, .1);

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      display: block;
      padding-bottom: calc(336/500*100%);

      @include  device-media(laptop tablet) {
        padding-bottom: calc(250/500*100%);
      }
    }
  }

  &__heading {
    color: $colorBlack;
    font-weight: 500;
    @include resize-vw(padding-top, 25, 20, 20);
    @include resize-vw(padding-left, 20, 20, 20);
    @include resize-vw(padding-right, 20, 20, 20);
    @include resize-vw(padding-bottom, 60, 50, 40);
  }
}
