.section {
  &__heading {
    font-weight: 500;
  }

  &_timetable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px -20px -25px;

    .section__card {
      display: flex;
      width: 50%;
      padding: 25px 20px;
    }
  }

  &_offers {
    @include resize(margin-top, 75, 40);

    .section__heading {
      @include resize(margin-bottom, 50, 30);
    }

    .section__wrap {
      margin: -20px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: $bpTablet) {
        margin: -15px;
      }
    }

    .section__card {
      padding: 20px;
      flex: 0 0 span(4);
      max-width: span(4);

      @media (max-width: $bpTablet) {
        padding: 15px;
        flex: 0 0 span(6);
        max-width: span(6);
      }
    }
  }

  &_timetable-detail {
    @include resize(padding-top, 55, 20);

    .section__cards {
      margin: -10px;
      display: flex;
      flex-wrap: wrap;
    }

    .section__card {
      padding: 10px;
    }

    .section__group {
      &:not(:first-of-type) {
        @include resize(margin-top, 55, 20);
      }
    }

    .section__date {
      font-weight: 500;
      font-size: 40px;
      @include resize(padding-bottom, 55, 20);
    }
  }

  &_offer {
    .setion__heading {
      margin-top: 25px;
      font-weight: 500;
      @include resize(font-size, 60, 30);
    }

    .section__date {
      font-weight: 500;
      @include resize(font-size, 30, 20);
    }

    .setion__text {
      margin-top: 25px;
      line-height: 1.3;
      @include resize(font-size, 24, 18);

      p {
        &:not(:first-of-type) {
          margin-top: 25px;
        }
      }
    }

    .setion__image {
      @include resize(margin-top, 110, 50);
    }
  }

  &_contact {
    .section__heading {
      font-weight: 500;
      padding-bottom: 20px;
      @include resize(font-size, 30, 24);
      border-bottom: 1px solid #ACACAC;
    }
  }
}
