.section {
  &__heading {
    font-weight: 500;
  }

  &_timetable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: vw(25px) vw(-20px) vw(-25px);

    .section__card {
      display: flex;
      width: 50%;
      padding: vw(25px) vw(20px);
    }
  }

  &_offers {
    margin-top: vw(75px);

    .section__heading {
      margin-bottom: vw(50px);
    }

    .section__wrap {
      margin: vw(-20px);
      display: flex;
      flex-wrap: wrap;
    }

    .section__card {
      padding: vw(20px);
      flex: 0 0 span(4);
      max-width: span(4);
    }
  }

  &_timetable-detail {
    padding-top: vw(55px);

    .section__cards {
      margin: vw(-10px);
      display: flex;
      flex-wrap: wrap;
    }

    .section__card {
      padding: vw(10px);
    }

    .section__group {
      &:not(:first-of-type) {
        margin-top: vw(55px);
      }
    }

    .section__date {
      font-weight: 500;
      font-size: vw(40px);
      padding-bottom: vw(55px);
    }
  }

  &_offer {
    .setion__heading {
      margin-top: 25px;
      font-weight: 500;
      @include resize(font-size, 60, 30);
    }

    .section__date {
      font-weight: 500;
      @include resize(font-size, 30, 20);
    }

    .setion__text {
      margin-top: 25px;
      line-height: 1.3;
      @include resize(font-size, 24, 18);

      p {
        &:not(:first-of-type) {
          margin-top: 25px;
        }
      }
    }

    .setion__image {
      @include resize(margin-top, 110, 50);
    }
  }

  &_contact {
    .section__heading {
      font-weight: 500;
      padding-bottom: 20px;
      @include resize(font-size, 30, 24);
      border-bottom: 1px solid #ACACAC;
    }
  }
}
