.tab {
  display: flex;
  flex-wrap: wrap;

  &_hidden {
    display: none;
  }

  &_main {
    align-items: center;
    margin: 0 vw(-25px);

    .tab__discriptions {
      display: none;
      line-height: 1.2;
      font-weight: 500;
      @include resize-vw(font-size, 17, 10, 10);
    }

    .tab__day {
      @include resize-vw(font-size, 28, 15, 12);
    }

    .tab__item {
      cursor: pointer;
      color: rgba(60, 60, 67, 0.6);
      padding-left: vw(25px);
      padding-right: vw(25px);

      // Добавление класса .tab__item_active на активный элемент 
      &_active {
        color: $colorBlack;
        line-height: 1.2;

        .tab__day {
          font-weight: 500;
          color: $colorBlack;
          @include resize-vw(font-size, 40, 20, 18);
        }

        .tab__discriptions {
          display: block;
        }
      }
    }
  }          

  &_header {
    justify-content: center;

    .tab__day {
      color: rgba(60, 60, 67, .6);
      @include transition-default;
      @include resize-vw(font-size, 24, 13, 13);
    }

    .tab__item {
      padding-left: vw(15px);
      padding-right: vw(15px);

      &_active {
        .tab__day {
          color: rgba($colorBlack, 0.9);
          font-weight: 500;
        }
      }
    }
  }
}
