.tab {
  display: flex;
  flex-wrap: wrap;

  &_hidden {
    display: none;
  }

  &_main {
    align-items: center;
    margin: 0 vw(-25px);

    .tab__discriptions {
      display: none;
      font-size: vw(17px);
      line-height: 1.2;
      font-weight: 500;
    }

    .tab__day {
      font-size: vw(28px);
    }

    .tab__item {
      cursor: pointer;
      color: rgba(60, 60, 67, 0.6);
      padding-left: vw(25px);
      padding-right: vw(25px);

      &_active {
        color: $colorBlack;
        line-height: 1.2;

        .tab__day {
          font-weight: 500;
          color: $colorBlack;
          font-size: vw(40px);
        }

        .tab__discriptions {
          display: block;
        }
      }
    }
  }          

  &_header {
    justify-content: center;

    .tab__day {
      color: rgba(60, 60, 67, .6);
      @include transition-default;
      font-size: vw(24px);
    }

    .tab__item {
      padding-left: vw(15px);
      padding-right: vw(15px);

      &_active {
        .tab__day {
          color: rgba($colorBlack, 0.9);
          font-weight: 500;
        }
      }
    }
  }
}
