.time-card {
  box-shadow: 0px 1px 8px rgba($colorBlack, 0.15);
  background-color: $colorMain;
  border-radius: vw(15px);
  display: inline-flex;

  &__wrap {
    cursor: pointer;
    transform: translateY(2px);
    border-radius: vw(15px);
    line-height: 1.18;
    padding-top: vw(12px);
    padding-bottom: vw(12px);
    padding-right: 2px;
    padding-left: 5px;
    width: vw(100px);
    height: vw(100px);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__time {
    font-size: vw(24px);
    color: $colorBlack;
    font-weight: normal;
  }

  &__format {
    font-size: vw(11px);
    color: rgba($colorBlack, 0.5);
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__price, &__all {
    font-size: vw(18px);
    color: $colorBlack;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__hall, &__description {
    font-size: vw(13px);
    text-transform: uppercase;
    color: rgba($colorBlack, 0.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &_all {
    .time-card__wrap {
      justify-content: flex-end;
    }
  }
}
