.container {
  // max-width: vw($widthContainerDesktop * 1px);
  margin-left: auto;
  margin-right: auto;
  padding: 0 gutter();
  width: 100%;

  @include resize-vw(max-width, $widthContainerDesktop, $widthContainerTablet);

  @include device-media(mobile) {
    padding: 0 20px;
    max-width: 100%;
  }
}

.mx-border-radius {
  @include resize-vw(border-radius, 12, 12, 10);
}
