@mixin full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin transition-default {
  transition: 0.3s ease;
}

@mixin ie11 {
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    @content;
  }
}

@mixin linecount($ls, $lh: 1.4) {
  display: block;
  line-height: $lh;
  max-height: #{$lh * $ls}em;
  -webkit-line-clamp: $ls;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@function vw($px, $bp: $bpDesktopMax) {
  @return ($px / $bp) * 100vw;
}

@mixin device-media($devices) {
  @each $device in $devices {
    @if $device == desktop-lg {
      @media (min-width: $bpDesktopMax + 1) {
        @content;
      }

      @include device(desktop-lg) {
        @content;
      }
    } @else if $device == desktop {
      @media (min-width: $bpDesktopMin) {
        @content;
      }

      @include device(desktop) {
        @content;
      }
    } @else if $device == laptop {
      @media (max-width: $bpLaptopMax) and (min-width: $bpLaptopMin) {
        @content;
      }

      @include device(laptop) {
        @content;
      }
    } @else if $device == tablet {
      @media (max-width: $bpTabletMax) and (min-width: $bpTabletMin) {
        @content;
      }

      @include device(tablet) {
        @content;
      }
    } @else if $device == mobile {
      @media (max-width: $bpMobileMax) {
        @content;
      }

      @include device(mobile) {
        @content;
      }
    }
  }
}

@mixin resize-vw($property, $sizeDesktop, $sizeTablet, $sizeMobile) {
  @include device-media(desktop-lg) {
    #{$property}: $sizeDesktop * 1px;
  }

  // Desktop
  @include device-media(desktop) {
    #{$property}: vw($sizeDesktop * 1px, $bpDesktopMax);
  }

  // Laptop
  @include device-media(laptop) {
    #{$property}: vw(($sizeTablet + $sizeMobile)/2 * 1px, $bpLaptopMax);
  }

  // Tablet
  @include device-media(tablet) {
    #{$property}: vw($sizeTablet * 1px, $bpTabletMin);
  }

  // Mobile
  @include device-media(mobile) {
    #{$property}: vw($sizeMobile * 1px, $bpMobileMin);
  }
}
