$widthContainerDesktop: 1640px;
$widthContainerTablet: 714px;

$bpDesktopMax: 1920px;
$bpDesktopMin: 1200px;
$bpLaptopMax: 1199px;
$bpLaptopMin: 1024px;
$bpTabletMax: 1023px;
$bpTabletMin: 768px;
$bpMobileMax: 767px;
$bpMobileMin: 375px;

// colors
$colorMain: #d24a43;
$colorBlack: #000000;
$colorGray: rgba(#000000, 0.5);
$colorWhite: #f2f2f2;

// setting grid system
@import '~susy/sass/susy';

$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25,
  'spread': 'wide',
  'container-spread': 'wide'
);

// setting media sass screen

$ms-devices: (
  desktop-lg: (
    group: true,
    min: 1921px
  )
);
